metadata:
  git.branch: {{ vcs_branch }}
  image.type: {{ image_type }}
  job.arch: {{ device_arch }}
  job.name: {{ name }}
  kernel.tree: {{ kernel_tree }}
  kernel.version: {{ kernel_version }}
  kernel.defconfig_base: {{ kernel_defconfig_base }}
  kernel.defconfig: {{ kernel_defconfig }}
  platform.mach: {{ device_mach }}
  platform.name: {{ device_type }}
  vcs.url: {{ vcs_url }}
