{%- macro baseurl(object) -%}
{{urlbase}}/{{object}}
{%- endmacro %}
{%- set device_type = device_type|default(yocto_machine+"-uboot") %}
{%- set kernel_image = kernel_image|default('Image') %}
{%- set kernel_url = kernel_url|default(baseurl(kernel_image)) %}
{%- if dtb %}
{%- set dtb_url = dtb_url|default(baseurl(dtb)) %}
{%- endif %}
{%- if modules %}
{%- set modules_url = modules_url|default(baseurl(modules)) %}
{%- endif %}
{%- if rootfs_type == 'nbd' %}
{%- set nbdroot = nbdroot|default("agl-demo-platform-" + yocto_machine + ".ext4.xz") %}
{%- set nbdroot_url = nbdroot_url|default(baseurl(nbdroot)) %}
{%- set nbdinitrd = nbdinitrd|default("initramfs-netboot-image-" + yocto_machine +".ext4.gz.u-boot") %}
{%- set nbdinitrd_url = nbdinitrd_url|default(baseurl(nbdinitrd)) %}
{%- elif rootfs_type == 'nfs' %}
{%- set nfsrootfs = nfsrootfs|default("nfsrootfs-" + yocto_machine + ".tar.gz") %}
{%- set nfsrootfs_url = nfsrootfs_url|default(baseurl(nfsrootfs)) %}
{%- elif rootfs_type == 'ramdisk' %}
{%- set initrd = initrd|default("initramfs-boot-image-" + yocto_machine +".gz") %}
{%- endif %}
{%- if initrd %}
{%- set initrd_url = initrd_url|default(baseurl(nfsrootfs)) %}
{%- endif %}
{%- block job %}
{%- endblock %}
