{%- block notify -%}
notify:
  criteria:
    status: finished
  callback:
    url: {{ backend_fqdn }}/callback/{{ callback_name }}?lab_name={{ lab_name }}&status={STATUS}&status_string={STATUS_STRING}
    method: POST
    dataset: all
    token: {{ lab_token }}
    content-type: json
{%- endblock %}
