{%- extends 'boot/generic-uboot-tftp.jinja2' %}
{%- set device_type = "ti-vayu-uboot" %}
{%- set dtb = dtb|default("zImage-dra7-evm-lcd-lg.dtb") %}
{%- set kernel_image = kernel_image|default("zImage") %}
{%- set rootfs_type = rootfs_type|default("nbd") %}
