{%- extends 'boot/generic-uboot-tftp.jinja2' %}
{%- set device_type = "ti-vayu-uboot" %}
{%- set dtb = "zImage-dra7-evm-lcd-lg.dtb" %}
{%- set kernel_image = "zImage" %}
{%- set uboot_type = "bootz" %}
{%- set nbdroot = "agl-demo-platform-" + yocto_machine + ".ext4.xz" %}
