{%- extends 'boot/generic-uboot-tftp.jinja2' %}
{%- set device_type = "dra7-evm" %}
{%- set device_arch = "arm" %}
{%- set device_mach = "omap2" %}
{%- set dtb = dtb|default("zImage-dra7-evm-lcd-lg.dtb") %}
{%- set kernel_image = kernel_image|default("zImage") %}
{%- set rootfs_type = rootfs_type|default("nbd") %}
{%- set rfs_image = rfs_image|default("agl-demo-platform-dra7xx-evm.ext4.xz") %}
{%- set uboot_type = "bootz" %}
