{%- extends 'boot/generic-uboot-tftp.jinja2' %}
{%- set device_arch = "arm64" %}
{%- set device_mach = "renesas" %}
{%- set device_type = "r8a7796-m3ulcb" %}
{%- set dl_dir = "m3ulcb-nogfx" %}
{%- set dtb = dtb|default("Image-r8a7796-m3ulcb.dtb") %}
{%- set kernel_image = kernel_image|default("Image") %}
{%- set rootfs_type = rootfs_type|default("nbd") %}
{%- set uboot_type = "booti" %}
