{%- extends 'boot/generic-uboot-tftp.jinja2' %}
{%- set device_type = "bcm2837-rpi-3-b" %}
{%- set dtb = "uImage-bcm2710-rpi-3-b.dtb" %}
{%- set nbdinitrd = "initramfs-netboot-image-" + yocto_machine +".ext4.gz.u-boot" %}
