{%- extends 'boot/generic-uboot-tftp.jinja2' %}
{%- set device_arch = "arm" %}
{%- set device_mach = "broadcom" %}
{%- set device_type = "raspberrypi3" %}
{# Default boot method if not specified #}
{%- set rootfs_type = rootfs_type|default("nbd") %}
{# Defaults image names dependng on boot method #}
{%- if rootfs_type == 'nbd' %}
    {%- set initrd = "initramfs-netboot-image-" + yocto_machine +".ext4.gz.u-boot" %}
{%- endif %}
{%- set dtb = dtb|default("uImage-bcm2710-rpi-3-b.dtb") %}
{%- set rfs_image = rfs_image|default("agl-demo-platform-raspberrypi3.ext4.xz") %}
