{%- extends 'boot/generic-uboot-tftp.jinja2' %}
{%- set device_arch = "arm64" %}
{%- set device_mach = "broadcom" %}
{%- set device_type = "bcm2837-rpi-3-b" %}
{# Default boot method if not specified #}
{%- set rootfs_type = rootfs_type|default("nbd") %}
{# Defaults image names dependng on boot method #}
{%- if rootfs_type == 'nbd' %}
    {%- set initrd = "initramfs-netboot-image-" + yocto_machine +".ext4.gz.u-boot" %}
{%- elif rootfs_type == 'ramdisk' %}
    {%- set dtb = dtb|default("uImage-bcm2710-rpi-3-b.dtb") %}
{%- endif %}