{%- extends 'base/agl-simple.jinja2' %}
{%- block main %}
{{ super() }}
{%- if rootfs_type == 'nbd' %}
protocols:
  lava-xnbd:
    port: auto
{%- endif %}
{% endblock %}
{%- block boot %}
{{ super() }}
- boot:
    timeout:
      minutes: {{ boot_timeout }}
    method: {{ boot_method|default("u-boot") }}
{%- include 'boot/agl-prompt.jinja' %}
{%- endblock %}
