{%- extends 'base/agl-simple.jinja2' %}
{%- block main %}
{{ super() }}
{%- if rootfs_type == 'nbd' %}
protocols:
  lava-xnbd:
    port: auto
{%- endif %}
{%- endblock %}
{%- block boot %}
{{ super() }}
- boot:
    timeout:
      minutes: {{ boot_timeout }}
    method: {{ boot_method|default("u-boot") }}
    type: {{ uboot_type|default("bootm") }}
    commands: {{ boot_commands|default("ramdisk") }}
    prompts:
      - 'root@{{ yocto_machine }}:~'
      - 'root@debian:~#'
      - '/ #'
    auto_login:
      login_prompt: "login:"
      username: root
{%- endblock %}
