{%- extends 'base/agl-simple.jinja2' %}
{%- if rootfs_type == 'nbd' %}
{%- block deploy %}
{{ super() }}
    protocols:
      lava-xnbd:
      - action: nbd-deploy
        request: set_port
{%- endblock %}
{%- endif %}
{%- block boot %}
{{ super() }}
- boot:
    timeout:
      minutes: {{ boot_timeout }}
    method: {{ boot_method|default("u-boot") }}
{%- include 'boot/agl-prompt.jinja' %}
{%- endblock %}
