{%- extends 'boot/generic-base-boot.jinja2' %}
{%- set boot_method = "u-boot" %}
{%- block boot %}
{{ super() }}
    type: {{ uboot_type|default("bootm") }}
    commands: {{ boot_commands|default("ramdisk") }}
{%- endblock %}
