
- test:
    timeout:
      minutes: 2
    definitions:
    - repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: test1
          description: "test1"
          os:
          - debian
          scope:
          - functional
        run:
          steps:
          - lava-test-set start test1
          - lava-test-case always-pass --shell true
      from: inline
      name: dummytest1
      path: inline/test1.yaml
