
- test:
    timeout:
      minutes: 2
    definitions:
    - repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: test2
          description: "test2"
          os:
          - debian
          scope:
          - functional
        run:
          steps:
          - lava-test-set start test2
          - lava-test-case always-fail --shell false
      from: inline
      name: dummytest2
      path: inline/test2.yaml

