- test:
    timeout:
      minutes: 2
    definitions:
    - repository: git://github.com/loysollivier/agl-test-definitions.git
      from: git
      path: examples/basic-inline.yaml
      name: test-example-basic-inline
